		<table class="table table-striped">
		<% var i; for (i=0; i < quizes.length; i++) { %>        
		<tr>
			  <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			  <td><%= quizes[i].tematica %></td>
			  <%if(session.user){%>
			  <td>
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group" role="group">
						<a href="quizes/<%= quizes[i].id %>" class="btn btn-primary btn-sm">
						<i class="fa fa-keyboard-o"></i>
						<span class="hidden-xs">
						Contestar
						</span>
						</a>
					</div>
					<div class="btn-group" role="group">
						<a href="quizes/<%= quizes[i].id %>/edit" class="btn btn-primary btn-sm">
							<i class="fa fa-pencil"></i> 
							<span class="hidden-xs">
							Editar
							</span>
						</a>
					</div>
					<div class="btn-group" role="group">
						<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
						  <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="btn btn-primary btn-sm">
							<i class="fa fa-trash"></i>
							<span class="hidden-xs">
							Borrar
							</span>
						  </button>
						</form>
					</div>
				</div>
			  </td>
			  <!--
			  <td>
				<a href="quizes/<%= quizes[i].id %>" class="btn btn-primary btn-sm">
				<i class="fa fa-keyboard-o"></i>
				<span class="hidden-xs">
				Contestar
				</span>
				</a>
			  </td>
			  <td>
				<a href="quizes/<%= quizes[i].id %>/edit" class="btn btn-primary btn-sm">
					<i class="fa fa-pencil"></i> 
					<span class="hidden-xs">
					Editar
					</span>
				</a>
			  </td>
			  <td>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
				  <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="btn btn-primary btn-sm">
					<i class="fa fa-trash"></i>
					<span class="hidden-xs">
					Borrar
					</span>
				  </button>
				</form>
			  </td>
			  -->
			  <%}%>
		</tr> 
		<% } %>
		</table>
  
		<%if(session.user){%>
		<br/>
		<a href="/quizes/new" class="btn btn-primary"><i class="fa fa-plus"></i> Crear pregunta</i></a>
		<%}%>

		<br/>
		<br/>
		<form name="form" action="/quizes" method="get" class="form-inline">
			<h3>B&uacute;squeda de preguntas</h3>
			<div class="form-group">
				<input type="text" class="form-control col-xs-3" id="search" name="search" value="<%= search %>" placeholder="Buscar...">
				&nbsp;
				
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-search"></i>
					Buscar
				</button>
			</div>
		</form>
