<div class="well well-info">
	<form method="get" action="/quizes/<%= quiz.id %>/answer">        
		
	  <strong>Pregunta:</strong> <%= quiz.pregunta %> <br/>
	  <strong>Tem&aacute;tica:</strong> <%= quiz.tematica %> <br/>
	  <input type="text" name="respuesta" value="Respuesta"/>
	  
	  
	  <button type="submit" class="btn btn-primary">
		<i class="fa fa-check"></i>
		Enviar
	  </button>
	</form>

	<br/>
	<p>
	<a href="/quizes/<%= quiz.id %>/comments/new" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		Nuevo comentario
	</a>

	<br/>
	<h3>Comentarios:</h3>
	<%for(index in quiz.Comments){%>
		<%if(quiz.Comments[index].publicado || session.user){%>
			<p>
				<i>- <%=quiz.Comments[index].texto%></i>
				<%if(session.user && !quiz.Comments[index].publicado){%>
					<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish" class="btn btn-primary btn-sm"><i class="fa fa-share-alt"></i> Publicar</a>
				<%}%>
			</p>
		<%}%>
	<%}%>
	<%if (quiz.Comments.length==0){%>
	<i>No hay comentarios</i>
	<%}%>
</div>