<table class="table table-striped">
<tr>
	<td>
		N&uacute;mero de preguntas
	</td>
	<td>
		<%= stats.quiz_count %>
	</td>
</tr>
<tr>
	<td>
		N&uacute;mero de comentarios
	</td>
	<td>
		<%= stats.comm_count %>
	</td>
</tr>
<tr>
	<td>
		N&uacute;mero medio de comentarios por pregunta
	</td>
	<td>
		<%= stats.quiz_comm_avg %>
	</td>
</tr>

<tr>
	<td>
		N&uacute;mero de preguntas sin comentarios
	</td>
	<td>
		<%= stats.quiz_without_count %>
	</td>
</tr>
<tr>
	<td>
		N&uacute;mero de preguntas con comentarios
	</td>
	<td>
		<%= stats.quiz_within_count %>
	</td>
</tr>
</table>